.star-range
{
    --size: 1.5rem;
    --track-bg: linear-gradient(to right, #ffdf00 var(--val), #0002 0);
    --star: conic-gradient(from -18deg at 61% 34.5%, #0000 108deg, #000 0)  0 0 / var(--size) var(--size),
            conic-gradient(from 270deg at 39% 34.5%, #0000 108deg, #000 0)  0 0 / var(--size) var(--size),
            conic-gradient(from 54deg at 68% 56%, #0000 108deg, #000 0)     0 0 / var(--size) var(--size),
            conic-gradient(from 198deg at 32% 56%, #0000 108deg, #000 0)    0 0 / var(--size) var(--size),
            conic-gradient(from 126deg at 50% 69%, #0000 108deg, #000 0)    0 0 / var(--size) var(--size);

    appearance: unset;
    height: var(--size);
    width: calc(var(--size) * 5);
}

.star-range::-webkit-slider-thumb   { opacity: 0; }
.star-range::-webkit-slider-runnable-track
{
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    background: var(--track-bg);
    mask: var(--star);
    mask-composite: intersect;
}

.star-range::-moz-range-thumb       { opacity: 0; }
.star-range::-moz-range-track
{
    appearance: none;
    height: 100%;
    background: var(--track-bg);
    mask: var(--star);
    mask-composite: intersect;
}

.star-image
{
    margin-right: 0;
    margin-left: auto;
    background: var(--track-bg);
    mask: var(--star);
    mask-composite: intersect;
}

.use-button
{
    --size: 1.5rem;
    border: none;
    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    padding: calc(var(--size) * 0.15);
}

.plus-image
{
    --plus: linear-gradient(to left, #0000, 35%, #000 0, 65%, #0000 0),
            linear-gradient(to bottom, #0000, 35%, #000 0, 65%, #0000 0);
    background: var(--plus);
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.minus-image
{
    --minus: linear-gradient(to bottom, #0000, 35%, #000 0, 65%, #0000 0);
    background-image: var(--minus);
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.item-row
{
    border: #000;
    border: 0;
    border-top: var(--border);
    border-style: solid;
    padding: 5px 0;
}

.inline-div
{
    display: flex;
    align-items: center;
}

input#item-name
{
    width: auto;
}

div#items-list, div#new-item-form
{
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.same-line
{
    display: inline-block;
    margin: auto;
    margin-left: 0.5rem;
}

.same-line-right
{
    display: inline-block;
    margin: auto;
    margin-right: 0rem;
}

html
{
    font-size: 30px;    
}