.star-range
{
    --track-bg: linear-gradient(to right, #ffdf00 var(--val), #0002 0);
    --star: url('data:image/svg+xml, <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"><polygon points="10,1 4,19 19,8 1,8 16,19"/></svg>');

    appearance: unset;
    height: 20px;
    width: 100px;
}

.star-range::-webkit-slider-thumb, .star-range::-moz-range-thumb
{
    opacity: 0;
}

.star-range::-webkit-slider-runnable-track, .star-range::-moz-range-track
{
    appearance: none;
    height: 100%;
    background: var(--track-bg);
    mask: var(--star);
    mask-repeat: repeat;
}

.star-image
{
    --track-bg: linear-gradient(to right, #ffdf00 var(--val), #0002 0);
    --star: url('data:image/svg+xml, <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"><polygon points="10,1 4,19 19,8 1,8 16,19"/></svg>');

    appearance: unset;
    height: 20px;
    width: 100px;
    margin-right: 0;
    margin-left: auto;
    background: var(--track-bg);
    mask: var(--star);
}

.submit-button
{
    --plus: url('data:image/svg+xml, <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"><polygon points="8,2 8,18 12,18 12,2"/><polygon points="2,8 18,8 18,12 2,12"/></svg>');
    
    background-image: var(--plus);
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.delete-button
{
    --minus: url('data:image/svg+xml, <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"><polygon points="2,8 18,8 18,12 2,12"/></svg>');
    
    background-image: var(--minus);
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.item-row
{
    border: #000;
    border: 0;
    border-top: var(--border);
    border-style: solid;
    padding: 5px 0;
}

.item-row div
{
    display: flex;
    align-items: center;
}